/* OVERALL STYLE */
body
{
    background-color: rgb(10,20,10);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: antiquewhite;
    text-align: center;
}

canvas
{
    position: absolute;
    left: 180px;
    top: 100px;
}

#cellboardcanvas
{
    z-index: 2;
}

#gridboardcanvas
{
    z-index: 3;
}